.text{
    color: #f4e7e7;
    background-color: rgb(72, 45, 209); 
}

body{
     background-color: rgb(119, 165, 176); 
    /* background-image: url();
    background-size: auto auto; */
} 
/* .texto{
    color: #cd3636;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
} */